body{
 color: aliceblue;
 background: url("animal-6771900_640.jpg");
}

/* .btn{
    border-radius: 15px;
    box-shadow: 4px 4px dodgerblue; 
}  */
/* .table{
    th{
        height: 60px;
        text-align: center;
        padding: 15px;
    }
} */


/* .flex-container{
    display: flex;
    flex-wrap: wrap;  
} */


/* .flex-container>div{
    padding: 15px 15px;
    width: 300px;
    height: 300px;
   border: 3px solid black;
    margin: 10px;
    text-align: center;
    
} */

/* .photos{
    border: 3px solid aliceblue;
    margin: 10px;
    justify-content: center;
}

.tle{
    height: 100%;
    width: 200px;
    text-align: center;
} */

/* .table{
    height: 60px;
    text-align: center;
    padding: 15px 15px;
    
}
.com{
    color: green;
}
.notcom{
    color: red;
} */


/* .container{
    display: flex;
    flex-wrap: wrap;
}
.user{
    border: 3px solid brown;
    border-radius: 4px;
    height: 500px;
    width: 400px;
    background-color: rgb(156, 133, 99);
    padding: 30px 30px;
    margin: 10px;text-align: center;
    color: rgb(37, 5, 5) ;
}
.sid{
    color: rgb(73, 27, 73);
}
.head{
    color: darkred;
} */

.btn1{
    border: none;
    border-radius: 10px;
    color: aliceblue;
    
}
/* #user{
    width: 200px;
    height: 30px;
    margin: 30px;
    border: none;
    border-radius: 9px;
} */

#paswrd{
    border:none;
    border-radius: 30px;
    background-color: brown;
    color: aliceblue;
    
}