 body{
    background-color: brown;
    color: aliceblue;
} 

#text{
    padding: 15px;
}



#num{
    padding: 15px;
}



#add{
    padding: 8px;
    border: 2px groove dodgerblue ;
    color: darkred;
}

